
.admin-layout
	display flex
	min-height 100vh
	flex-direction column
	text-align center
	color $deep-grey

	.admin-header
		flex 0 0 2rem
		order 1
		min-width 100vw
		background-color $light-black
		border-bottom 1px solid $deep-grey
		
	.admin-footer
		display none
		flex 0 0 2rem
		height 3vh
		order 3

	.admin-body
		flex 1 0 auto
		order 2
		display flex
		flex-direction row
		background-color $light-grey
		
		.admin-content
			order 2
			width 100vw

		.admin-ads
			display none
			flex 0 0 12rem
			order 3
		
		.admin-nav
			flex 1 0 $side-nav-large
			order 1
			padding 8px 0 0 0
			background-color $light-black
			color $grey-text
			& ul
				margin 0
				padding 0
				display block
				justify-content space-between
				list-style none
			& a
				text-decoration none
				padding 10px 10px
				display flex
				&:hover, &.active
					background $black
					color $bright-blue
			& i
				display block
				width 40px
			& .AdNav-text
				display nline
				padding 0 0 0 0px