
.main-layout
	margin auto
	color $deep-grey
	background-color $white
	max-width $xlarge
	
.Info-area
	overflow hidden
	padding 5px
	height 1.4em
	border-bottom 1px solid $light-grey
	color $grey-text
	text-transform lowercase
	
.Nav-area 
	background $white
	border-bottom 1px solid $light-grey
	color $deep-grey
	position relative
	z-index $nav
	height 60px
	padding 15px 5%
	display flex
	justify-content space-between
	a
		color $deep-grey