.social-nav
	position relative
	top -20%
	float right
	ul 
		list-style: none
		display: flex
		padding: 0 
	li + li 
		margin-left: 3px
	i
		text-decoration: none
		color $text-grey
	.socialNav-item
		position relative
		top -15px
		cursor pointer
		font-size 70%
		.fa-stack
			time = 0.1s
			trans(time)
			.bkhover
				color $bright-blue
				opacity 0
				transform scale(0,0)
				trans(time)
			.bk
				color $light-grey
				trans(time)
			&:hover
				color $light-grey
				.bkhover
					transform scale(1,1)
					opacity 1
				.bk
					opacity 1