<template name="_footer">
	<footer>
		<div class="container">
			<div class="well">
				<p>
				<a href="http://es.wikipedia.org/wiki/Quiz" class="pull-left">¿Qué es un Quiz? </a>
				<a href='https://github.com/ameba6/englishtests' class="pull-right" target="_blank"><i class="fa fa-github fa-lg fa-fw"></i> GitHub</a></p>
				<br>
				<p class="text-center text-muted"><i class="fa fa-copyright fa-lg fa-fw"></i>
 Copyright <a href='http://www.cortesa.net'>cortesa.net
				</a></p>
			</div>
		</div>
	</footer>
</template>
