.header-body
	display flex
	flex-direction column
	justify-content center
	align-items strech	
	background $white
	background-image url('/uk-flag.jpg')
	background-position center 77%
	
// h1x -	Header Section
.header-info
	flex 1 0 auto
	display flex
	flex-direction row
	justify-content space-between
	align-items center
	overflow hidden
	padding 0px 10px
	height 2.4em
	background  -moz-linear-gradient(top, rgba(0,0,0,0.2), rgba(0,0,0,0.8))
	border-bottom 1px solid rgba(0,0,0,0.8)
	color $grey-text
	text-transform lowercase

// h2x -	Header Section

.nav-area
	flex 1 0 fit-content
	display flex
	flex-direction row
	justify-content space-between
	align-items center
	height 100px
	padding 0px 15px
	overflow hidden
	border-bottom 1px solid $light-grey
	color $deep-grey