.header-area
	display flex
	flex-direction column
	justify-content center
	align-items stretch	
	overflow hidden
	background $white
	/*background-image url('/uk-flag.jpg')*/
	background-position center 77%
	
// h1x -	Header Section
.h_info-area
	flex 1 0 auto
	display flex
	flex-direction row
	justify-content space-between
	align-items center
	overflow hidden
	padding 0px 10px
	height 2.4em
	background  linear-gradient(to bottom, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.8) 100%)
	border-bottom 1px solid rgba(0,0,0,0.8)
	color $grey-text
	text-transform lowercase

// h2x -	Header Section

.h_nav-area
	flex 1 0 auto
	display flex
	flex-direction row
	justify-content space-between
	align-items center
	padding 0px 15px
	overflow hidden
	border-bottom 1px solid $light-grey
	color $deep-grey