.mini-contact
	position relative
	float left
	font-size 80%
	ul 
		list-style: none
		display: flex
		padding: 0 
	li + li 
		margin-left: 10px
	.miniContact-item
		position relative
		top -10px
		cursor pointer
		padding 2px 3px 2px 2px
		trans()
		&:hover
			color $bright-blue
