.social-section
	flex 1 0 fit-content
	background-color $pink
	
.social-ul 
	list-style none
	padding 0
	margin 0
	display flex
	flex-direction row
	& li + li 
		margin-left: 3px
	& i
		text-decoration: none
		color $text-grey
		
.social-item
	cursor pointer
	font-size 70%
	& .fa-stack
		time = 0.1s
		trans(time)
		& .bkhover
			color $bright-blue
			opacity 0
			transform scale(0,0)
			trans(time)
		& .bk
			color transparent
			trans(time)
		&:hover
			color $light-grey
			& .bkhover
				transform scale(1,1)
				opacity 1
			& .bk
				opacity 1