.user-section
	flex 1 0 fit-content
	diplay flex
	flex-direction row
	margin 10px 0 0 0
	padding 10px
	border-radius 50px
	background  -moz-linear-gradient(top, rgba(0,0,0,0.2), rgba(0,0,0,0.6))
	color $light-grey
	trans()
	& .userIco
		flex 1 0 auto
		trans()
	&:hover
		background-color $bright-blue
		
	
